<div [ngStyle]="{
    'background-color' : '#eee',
    'border' : '5px solid red',
    'padding' : '20px'
}">

    <p>Añadir marca</p>
    <p><input type="text" [(ngModel)]="miMarca" (blur)="onBlur()" /></p>
    <p><input type="text" [(ngModel)]="miMarca" (keyup.enter)="onEnter()" /></p>
    <button (click)="getMarca()">Mostrar Marca</button>
    <button (click)="addMarca()">Añadir Marca</button>
    <p><strong>{{miMarca}}</strong></p>

    <h1>Compra las zapatillas de las mejores marcas</h1>
    <ul>
        <li *ngFor = "let marca of marcas; let indice = index">
            {{indice + ' ' + marca}} <button (click)="delMarca(indice)">borrar marca</button>
        </li>
    </ul>

    <h1>Zapatillas disponibles</h1>
    <ul>
        <li *ngFor = "let tennis of zapatillas">

                <span [ngStyle]="{
                    'text-decoration': !tennis.stock ? 'line-through' : 'none'
                }"
                [ngClass]="{'fondoRojo': tennis.precio > 50}">
                    {{tennis.nombre}} - <strong 
                        [class.AltoPrecio]="tennis.precio >= 50">{{tennis.precio}}</strong>
                </span>

                <span 
                    *ngIf="tennis.precio <= 50" 
                    [style.background]="tennis.precio <= 50 ? 'green' : 'transparent'"
                    [style.color]="tennis.precio <= 50 ? 'white' : 'black'"
                > ¡OFERTA! </span>
        </li>
    </ul>
</div>

<p>El color de la mayoria de las zapatillas es</p>
<input type="text" [(ngModel)]="color" />
<ul [ngSwitch]="color">
    <li *ngSwitchCase="'yellow'">
        El color es <span [ngStyle]="{'background-color':color}">amarrillo</span>
    </li>
    <li *ngSwitchCase="'red'">
        El color es <span [ngStyle]="{'background-color':color}">rojo</span>
    </li>
    <li *ngSwitchCase="'blue'">
        El color es <span [ngStyle]="{'background-color':color}">azul</span>
    </li>
</ul>
